<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<!-- LinkedIn / OpenGraph defaults (site-level, safe because this partial is called with .Site) -->
{{- $title := .Title -}}
{{- $desc := (.Params.description | default .Params.Description | default "") -}}
{{- $img  := (.Params.ogImage | default .Params.og_image | default "/images/og-linkedin.png") -}}
{{- $url  := .BaseURL -}}

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ $title }}">
<meta property="og:title" content="{{ $title }}">
{{- if $desc }}<meta property="og:description" content="{{ $desc }}">{{ end -}}
<meta property="og:url" content="{{ $url }}">
<meta property="og:image" content="https://ismailcanoguz.fr/images/og-linkedin.png">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
{{- if $desc }}<meta name="twitter:description" content="{{ $desc }}">{{ end -}}
<meta name="twitter:image" content="{{ $img | absURL }}">

<!-- Cloudflare Web Analytics -->
<script defer src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token":"3121201161044d75959553e9da367dbf"}'></script>


